
.categories-cards {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
  padding: 0 24px;
}

.categories-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 312px;
  height: 220px;

  background-color: var(--background-secondary-color);
  border-radius: 16px;

  padding: 24px;
  box-sizing: border-box;

  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards .card img {
  width: 72px;
  height: 72px;
  margin-bottom: 24px;
}

.categories-cards .card h3 {
  text-align: center;
  margin: 0;
}

 /* Card Transfer possui apenas uma linha */
.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line img {
  margin-bottom: 10px 0 20px
}

/* Tablet */
@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .categories-cards .card {
    max-width: 312px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
    max-width: none;
  }
}

/* Desktop grande */
@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}