.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-form label {
  display: block;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: var(--text-weight);
  color: #9e9e9e;
  margin-bottom: -20px;
}

.contact-form input {
  width: 100%;
  padding: 0 0 12px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  outline: none;
  background: transparent;

  font-family: "Montserrat";
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-primary-color);
}

.contact-form input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.contact-form textarea {
  width: 100%;
  height: 140px;
  padding: 16px;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  outline: none;
  resize: vertical;

  font-family: "Montserrat";
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-primary-color);
}

.contact-form textarea:focus {
  border-color: var(--primary-color);
}

.contact-form .button {
  width: 100%;
  height: 72px;
  margin-top: 8px;

  font-size: 20px;
  font-weight: var(--title-weight);
  line-height: 72px;
}

.error-message {
  display: none;
  color: #b81515;
  font-size: 14px;
  margin-top: 8px;
}

input:invalid:not(:placeholder-shown) + .error-message,
input:invalid:focus + .error-message {
  display: block;
}