.packages-payments .content-container .text-content .content-title {
  font-size: 40px;
  margin-bottom: 16px;
}

.packages-payments .content-container .text-content h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 24px;
}

.packages-payments .content-container .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.packages-payments .content-container .image-gallery .image.first {
  background: url(../img/payments-packages-mobile1.jpg) no-repeat;
  background-size: cover;
}

.packages-payments .content-container .image-gallery .image.second {
  background: url(../img/payments-packages-mobile2.jpg) no-repeat;
  background-size: cover;
}

.packages-payments .content-container .image-gallery .image.thirdy {
  background: url(../img/payments-packages-mobile3.jpg) no-repeat;
  background-size: cover;
}

.packages-payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .packages-payments .content-container .image-gallery .image.first {
    background: url(../img/payments-packages-tablet1.jpg) no-repeat;
    background-size: cover;
  }

  .packages-payments .content-container .image-gallery .image.second {
    background: url(../img/payments-packages-tablet2.jpg) no-repeat;
    background-size: cover;
  }

  .packages-payments .content-container .image-gallery .image.thirdy {
    background: url(../img/payments-packages-tablet3.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .packages-payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .packages-payments .content-container .text-content {
    width: 360px;
  }
  .packages-payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
